<?xml version="1.0" encoding="UTF-8"?>
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-whois"
    version="0.2.0">
    <name>Whois</name>
    <description>Cordova Whois Plugin</description>
    <license>MIT</license>
    <keywords>cordova,whois</keywords>
    <repo>https://github.com/t1st3/cordova-plugin-whois.git</repo>
    <issue>https://github.com/t1st3/cordova-plugin-whois/issues</issue>

    <js-module src="www/whois.js" name="whois">
      <clobbers target="Whois" />
    </js-module>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Whois">
          <param name="android-package" value="org.tiste.cordova.whois.Whois"/>
        </feature>
      </config-file>
      <source-file src="src/android/libs/commons-net-3.4.jar" target-dir="libs" />
      <source-file src="src/android/Whois.java" target-dir="src/org/tiste/cordova/whois"/>
    </platform>
  </plugin>
